<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mikhail.shvarev.app" >

    <permission
        android:name="mikhail.shvarev.app.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="mikhail.shvarev.app.permission.MAPS_RECEIVE"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="mikhail.shvarev.app.permission.C2D_MESSAGE" />
    <uses-permission android:name="mikhail.shvarev.app.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true">
    </uses-feature>
    <application


        android:allowBackup="true"
        android:icon="@drawable/icon_my"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name=".ParseInit">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.Main"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity android:name=".Authorization.Authorization"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity android:name=".Authorization.Registration"
            android:screenOrientation="portrait"
            android:label="Регистрация"/>



        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDDU9lCfG7JkjnT3V_OzLPYyQopXs8UNPA">
        </meta-data>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <!--</meta-data>-->
        <uses-library android:name="com.google.android.maps" />



        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="mikhail.shvarev.app" />
            </intent-filter>
        </receiver>
        <!--<receiver android:name="com.parse.ParsePushBroadcastReceiver"-->
        <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.parse.push.intent.RECEIVE" />-->
                <!--<action android:name="com.parse.push.intent.OPEN" />-->
                <!--<action android:name="com.parse.push.intent.DELETE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".CustomReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="mikhail.shvarev.app.RECEIVE_PUSH" />
                <action android:name="mikhail.shvarev.app.UPDATE_STATUS" />
            </intent-filter>
        </receiver>

        <service android:name=".main.Messaging$ServiceToLoadNewMess"/>
        <service android:name=".main.ItemMessages$ServiceToLoadNewChat"/>
        <service android:name=".PositionReceiver"/>
        <service android:name=".main.ItemMap$ServiceForGps"/>
            <!--android:enabled="true"-->
            <!--android:exported="true"-->


        <!--</service>-->
    </application>

</manifest>
